@import "./components/colors.css";

.App {
  text-align: center;
  align-items: center;
  overflow: hidden;
  color: var(--secondary);
}
.appheader{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
