.option-text {
  font-size: 1rem;
  padding: 6px
  
}

.questionCard{
  padding: 20px;
	box-shadow: var(--light-shadow) 1px 1px 1px 1px;
	margin: 20px 0px;
	border-radius: 10px;
  display: flex;
	flex-direction: column;
}