@import "../components/colors.css";

#dashboard-content {
	height: 100vh;
	width: 100%;
	background-color: var(--gradient);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.one-time-dashboard {
	height: 100vh;
	background-color: var(--secondary);
}
.dash-btns {
	flex: 1;
	margin-left: 140px;
	display: flex;
	text-align: left;
	flex-direction: column;
	align-content: space-between;
	align-items: stretch;
}
@media (max-width: 500px) {
	.dash-btns {
		margin-top: 130px;
		margin-left: 0px;
	}
}
.blob-svg {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}
.one-time-button{
	width: 230px;
	padding: 15px;
}

.wlcm-msg {
	color: var(--primary);
	font-size: 35px;
	font-weight: 500;
	margin: 40px 0px;
}
@media (max-width: 768px) {
	#dashboard-content {
		flex-flow: column;
		justify-content: center;
	}
}
