@import "../components/colors.css";

#dashboard-content {
	height: 80vh;
	width: 100%;
	background-color: var(--gradient);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
}
.one-time-dashboard{
    height: 100vh;
    background-color: var(--secondary);
}
.vertical-line {
	border-left: 3px solid var(--secondary);
	border-image: linear-gradient(to bottom, var(--secondary), var(--accent-pink))
		1 100%;
	height: 200px;
}
.dash-btns{
    flex: 1;
	margin-left: 140px;
	display: flex;
	text-align: left;
	flex-direction: column;
	align-content: space-between;
	align-items: stretch;
}

.blob-svg{
    flex: 1;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}
.dash-btns .create-quiz,
.dash-btns .join-quiz{
	margin: 10px;
	padding: 12px;
	font-size: 20px;
	width: 230px;
	transition: 0.5s;
	border-radius: 50px;
	border: 3px solid var(--accent-pink);
	background: none;
    color: var(--primary);
    box-shadow: none;
}
.create-quiz,
.join-quiz {
	margin: 10px;
	padding: 12px;
	font-size: 20px;
	width: 255px;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	border-radius: 50px;
	border: none;
	background-image: var(--gradient);
	color: var(--primary);
	box-shadow: 0 0 20px #eee;
}
.create-quiz:hover,
.join-quiz:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.create-quiz:focus,
.join-quiz:focus {
	outline: none;
}
.create-quiz:active,
.join-quiz:active {
	transform: translateY(4px);
}
.wlcm-msg{
	color:var(--primary);
    font-size: 35px;
	font-weight: 500;
	margin: 40px 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 768px) {
	#dashboard-content {
		flex-flow: column;
		justify-content: center;
	}
	.vertical-line {
		display: none;
	}
}
