@import "../components/colors.css";

.appheader{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.dash-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-top: 80px; */
}
.line-left{
	height: 1px;
	background-color: var(--light-shadow);
	margin: 10px;
	width: 50px;
}
.heading{
	margin: 10px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.line{
	height: 1px;
	background-color: var(--light-shadow);
	flex-grow: 3;
	margin: 10px;
}
.quizzes{
	margin: 20px;
}
.card-holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 768px) {
	#dashboard-content {
		flex-flow: column;
		justify-content: center;
	}
	.vertical-line {
		display: none;
	}
}
