@import "../components/colors.css";
.appheader{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
  }
  
.dash-body{
    padding: 50px;
    margin-top: 60px;
}

.card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.heading{
    color: var(--light-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line{
    justify-self: flex-end;
    margin: 12px;
    height: 1px;
    width: 100%;
    background-color: var(--light-shadow);
}