@import './colors.css';

.questionCard{
    padding: 20px;
    box-shadow: var(--light-shadow) 3px 3px 5px 2px;
    margin: 20px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#title{
    margin: 10px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}
#question{
    border: var(--secondary) 1px solid;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: none;
    border: none;
    border-bottom: 2px solid var(--light-shadow);
}
#question:focus{
    transition: all 0.5s ease;
    border-bottom: 2px solid var(--dark-shadow);
    
}
#select{
    padding: 10px;
    width: 150px;
    margin: 5px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--secondary);
    color: var(--primary);
}
.selectOp{
    padding: 50px;
}
.selectOp:hover{
    background-color: var(--gradient);
}
.check-in, .radio-in{
    margin: 10px 10px;
}
.check-in:focus{
    outline: none;
}
.add-btn{
    text-align: center;
    border-radius: 70px;
    background-color: transparent;
    border: var(--secondary) 1px solid;
    font-weight: bolder;
}
.add-btn:hover{
    background-color: var(--accent-pink);
    color: var(--primary);
    border-color: var(--primary);
    cursor: pointer;
}
.add-btn:focus{
    outline: none;
}
.op{
    width: 200px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--light-shadow);
}
.op:focus{
    transition: all 0.5s ease;
    border-bottom: 2px solid var(--dark-shadow);
}
.option{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.options{
    display: flex;
    flex-direction: column;
}
.option-div{
    display: flex;
    flex-direction: column;
}
.add-op{
    align-self: flex-start;
    margin: 5px;
}
.op-label{
    margin: 5px;
    font-size: 1rem;
}