.appbar {
	display: flex;
	color: white;
	padding: 0px 5px;
	padding-right: 15px;
	justify-content: space-between;
	background-color: var(--secondary);
}
.slider {
	background-color: var(--secondary);
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.appbar-user{
    display: flex;
    justify-content:space-between;
	align-items: center;
    padding: 5px;
}
.appbar-user p{
    font-size: 40;
}