@import 'colors.css';

.quiz-card{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: var(--dark-shadow) 2px 3px 4px 1px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 10px;
}
.quiz-card:hover{
    cursor: pointer;
    background-color: rgb(234, 236, 240);
    transform: scale(1.02);
}
#created-quiz-title{
    font-size: 3rem;
    font-weight: bold;
    padding: 5px;
}
#horizontal-line{
    width: 300px;
    height: 2px;
    background-color: var(--secondary);
}
#row{
    display: flex;
    justify-content: space-between;
}
#responses{
    float: left;
}
#questions{
    float: right;
}
#questions, #responses{
    padding: 10px;
    font-size: 1rem;
}
#open{
    align-self: flex-end;
    padding: 10px;
    font-style: italic;
    color: green;
}
#closed{
    align-self: flex-end;
    padding: 10px;
    font-style: italic;
    color: var(--accent-pink);
}

