@import "colors.css";

.quiz-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: var(--primary);
	color: var(--secondary);
	box-shadow: var(--dark-shadow) 2px 3px 4px 1px;
	width: 300px;
	margin: 20px;
	border-radius: 20px;
	padding: 20px;
	height: 250px;
	/* padding-top: 70px; */
	padding-bottom: 10px;
}
.quiz-card:hover {
	background-color: rgb(234, 236, 240);
	transform: scale(1.02);
}
#created-quiz-title {
	font-size: 2rem;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 0;
	text-align: left;
}
.card-code {
	/* text-align: left; */
	font-weight: bold;
	/* margin-bottom: 0; */
}
#horizontal-line {
	width: 300px;
	height: 2px;
	background-color: var(--secondary);
}
#row {
	display: flex;
	justify-content: space-between;
}
#responses {
	float: left;
}
#questions {
	float: right;
}
#questions,
#responses {
	padding: 10px;
	font-size: 1rem;
}
#open,
#closed {
	padding-right: 10px;
    font-style: italic;
    font-weight: bold;
}
#open {
	color: green;
}
#closed {
	color: var(--accent-pink);
}
.bottom-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
