@import "./colors.css";

.appbar{
  overflow: hidden;
  height: 64px;
  background:var(--secondary);
  box-shadow: 2px 2px 4px grey;
  display: flex;
  align-items: center;
}
.home{
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  padding: 10px;
  font-size: 30px;
  color: var(--primary);
  text-decoration: none;
}
.home b{
  font-family: Roboto;
  font-size: 30px;
}
.home:hover{
  color: var(--accent-mustard);
}

.fa-user-circle{
  color: var(--primary);
  width: 30px;
  height: 30px;
}

#username{
  position: absolute;
  color: var(--primary);
  right: 0px;
  top: 0px;
  padding: 10px;
}