@import "./reuseable-components/colors.css";
#created-quiz{
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  
  margin: auto;
  height: 100vh;
  width: 100%;
}
#created-quiz-div {
  margin: auto;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 130px 140px;
}
#message{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.copy-btn{
  margin: 10px;
  padding: 12px;
  font-size: 20px;
  width: 250px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  border: none;
  background-image: var(--gradient);
  color:  var(--primary);
  box-shadow: 0 0 20px #eee;
}
p{
  font-size: 20px;
  font-weight: 400;
}
b{
  font-size: 50px;
  font-weight: 600;
}
.copy-btn:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.copy-btn:focus{
  outline: none;
}
.copy-btn:active{
  transform: translateY(4px);
}
#copy-code{
  width: 400px;
  margin: 20px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 50px;
  transition: width 0.4s ease-in-out;
  border: 2px solid #404A5E;
}
#copy-code:focus{
  outline: none;
  text-align: center;
  font-weight: 500;
  border-color: var(--accent-pink);
  color: var(--secondary);
}
@media (max-width: 768px) {
  .copy-btn{
    width: 150px;
    padding: 10px;
  }
  #copy-code{
    width: 300px;
  }
  #copy-code:focus{
    width: 300px;
  }
  b{
    font-size: 45px;
  }
}