@import "./reuseable-components/colors.css";

#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
}
#logo {
  color: var(--dark);
  font-size: 7rem;
  float: left;
  margin: 100px;
}
#login-card {
  flex-grow: 2;
  margin: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  align-items: center;
  width: 250px;
  border-radius: 20px;
  padding-bottom: 50px;
  box-shadow: var(--light-shadow);
}
#login-card label {
  padding: 30px;
  color: white;
  font-size: 100px;
}
.signIn-btn {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  width: 250px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color:  var(--dark);
  /*box-shadow: #E1E4EB 1px 1px 2px;*/
}
.signIn-btn:hover {
  cursor: pointer;
  background-color:var(--dark);
  color: white;
  border: solid white;
  box-shadow: none;
  
}

.signIn-btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  #Home {
    flex-flow: column;
  }
  #logo{
    font-size: 4rem;
    margin: 10px;
  }
  #login-card{
    width: 300px;
  }
  .signIn-btn{
    width: 200px;
    font-size: 1.01rem;
  }
}

@media (max-width: 380px) {
    #logo{
        font-size: 3.5rem;
        margin: 2 0px;
      }
      #login-card{
        width: 300px;
      }
      .signIn-btn{
        width: 200px;
        font-size: 1.01rem;
      }
      
}
