@import "./reuseable-components/colors.css";
#join-quiz{
  width: 100%;
  height: 100vh;
}
#join-quiz-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 175px;
}
label{
  font-size: xx-large;
  color: #404A5E;
}
input {
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 50px;
  transition: width 0.4s ease-in-out;
  border: 2px solid #404A5E;
}
input:focus{
    width: 500px;
    outline: none;
    text-align: center;
    border-color: var(--accent-pink);
    color: var(--accent-pink);
}
.join-button{
  margin: 10px;
  padding: 12px;
  font-size: 20px;
  width: 250px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, var(--secondary) 0%, var(--accent-pink)  31%, var(--accent-mustard)  100%);
  color:  var(--primary);
  box-shadow: 0 0 20px #eee;
}
.join-button:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  
}
.join-button:focus{
  outline: none;
}
.join-button:active{
  transform: translateY(4px);
}