@import "./reuseable-components//colors.css";
#dashboard-content{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vertical-line{
  border-left: 4px solid  var(--secondary);
  height: 200px;
}
.create-quiz, .join-quiz{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  width: 250px;
  border-radius: 50px;
  border: none;
  background-color: var(--secondary);
  color:  var(--primary);
  box-shadow: #E1E4EB 1px 1px 2px;
}
.create-quiz:hover, .join-quiz:hover{
  cursor: pointer;
  background-color: var(--accent-pink);
  padding: 20px;
  color: var(--primary);
}
.create-quiz:focus, .join-quiz:active{
  outline: none;
}
@media (max-width: 768px) {
  #dashboard-content {
    flex-flow: column;
    justify-content: center;
  }
  .vertical-line{
    display: none;
  }
}
