@import "./reuseable-components//colors.css";
#dashboard-content{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vertical-line{
  border-left: 4px solid  var(--secondary);
  height: 200px;
}
.create-quiz, .join-quiz{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  width: 250px;
  border-radius: 50px;
  border: none;
  background-color: var(--secondary);
  color:  var(--primary);
  box-shadow: #E1E4EB 1px 1px 2px;
}
.create-quiz:hover, .join-quiz:hover{
  cursor: pointer;
  background-color: var(--accent-pink);
  color: var(--primary);
  transition: 0.4s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.create-quiz:focus, .join-quiz:focus{
  outline: none;
}
.create-quiz:active,.join-quiz:active{
  transform: translateY(4px);
}
@media (max-width: 768px) {
  #dashboard-content {
    flex-flow: column;
    justify-content: center;
  }
  .vertical-line{
    display: none;
  }
}
